html{
    background-color: black;
}
div{
    width:50%;
    margin-left: 25%;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align: center;
}
img{
    width:100%;
    border:5px solid white;
}
p{
    text-align: center;
    color:white;
}